.survey{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
    font-size:22px
}

.survey__form{
    display: flex;
    flex-direction: column;
}

.survey__input{
    max-width: 200px;
    padding: 5px;
}


label{
    max-width: 800px;
    justify-content: space-between;
    margin-bottom: 30px;
}

.survey__select{
    min-width: 150px;
    padding: 5px;
}

.survey__button{
    display: block;
    max-width: 100px;
    padding: 5px;
}

.survey__result{
    padding-top: 30px;
    font-size: 32px;
    font-weight: 700;
}
